html
  head
    title Game-Snake
    link(rel="stylesheet", href="css/app.css")
  body
    block content

    script(src="/js/jquery.js")
    script(src="/js/underscore.js")
    script(src="/js/app.js")